@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 15%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 15%;

    --primary: 152 100% 28%;
    --primary-foreground: 0 0% 100%;

    --secondary: 204 100% 94%;
    --secondary-foreground: 0 0% 15%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 48 100% 50%;
    --accent-foreground: 0 0% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 152 100% 28%;

    --radius: 1rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 15%;
    --foreground: 0 0% 98%;

    --card: 0 0% 20%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 98%;

    --primary: 152 100% 28%;
    --primary-foreground: 0 0% 100%;

    --secondary: 204 40% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 65%;

    --accent: 48 100% 50%;
    --accent-foreground: 0 0% 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 152 100% 28%;
    --sidebar-background: 0 0% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 152 100% 28%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 25%;
    --sidebar-ring: 152 100% 28%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
